@import "tailwindcss";

@font-face {
    font-family: 'CascadiaCode';
    src: url(/assets/fonts/CascadiaCode.ttf);
    display: swap;
}

@theme {
    --color-transparent: transparent;
    --color-current: currentColor;
}

:root {
    --background: #000000;
    --foreground: #eeeeee;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
        --foreground: #eeeeee;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}

* {
    font-family: 'CascadiaCode', monospace;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    height: 100%;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

a {
    text-decoration: underline;
}